/* Main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: white;
}

/***************************************** Hero section styling *****************************************/
.hero {
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 0;
  /*Add image to the background*/
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/image3.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  transition: background 0.5s ease;
  margin: 0;
}

.hero h1 {
  font-size: 4rem;
}

/* For all divs inside .content besides first (h1) */
.hero .content > div {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  font-size: 2rem;
  margin-top: 20px;
}

/* animation delay */
/* first div  */
.hero .content > div:nth-of-type(1) {
  animation-delay: 0.5s;
}

/* second div */
.hero .content > div:nth-of-type(2) {
  animation-delay: 1.5s;
}

.scroll-down {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 50%;
  display: inline-block;
}

/* Animations*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/***************************************** About me section styling  ****************************************/
.about {
  padding: 40px;
  margin: 0;
  background-color: #fff;
  text-align: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2rem;
}

/* Футер */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

footer {
  background-color: #3c1f0a;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  font-size: 1rem;
}

/* Стиль для разделов */
section {
  padding: 20px;
  margin: 20px;
  background-color: white;
}

/* Стиль для изображения в "Обо мне" */
.about img {
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
}

/* Стиль для проектов */
.projects .project {
  margin-bottom: 20px;
}

.projects .project h2 {
  color: #3c1f0a;
}

.projects a {
  text-decoration: none;
  color: #b15e23;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}
/************************************ Style header ***********************************/
header {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: box-shadow 0.3s ease-in-out;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  margin: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

/************************************ Style cards in about section ***************************************/
.about {
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  padding-top: 5%;
  background-color: #662244;
  text-align: center;
}

