html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
}

#head {
  background-color: #3c1f0a;
  color: #fff;
  padding: 10px 20px;
}

#head h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: italic;
  padding-left: 150px;
  margin: 0;
  font-size: 1.8rem;
}

#head h1 a {
  font-size: 40px;
  text-decoration: none;
  color: white;
}

#subtitle {
  display: block;
  color: #d5a17c;
  font-size: large;
  font-weight: 200;
}

#list1 {
  padding-left: 150px;
  font-size: small;
}

#head ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 9px;
  display: flex;
  gap: 15px;
}

#head ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 0;
  position: relative;
}

#head ul li a:hover {
  color: #d5a17c;
}

#head ul li a:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 30%;
  bottom: -15px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d5a17c;
}

h2 {
  color: #b15e23;
  margin: 20px 0 10px 0;
  font-size: 15px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
}

#ITW {
  margin-top: 0;
}
#about {
  background-image: linear-gradient(white, #e5e5e5);
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.new {
  display: flex;
}

#allLectures {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 80px;
  margin-right: 10px;
}

#prednasky {
  margin-left: 80px;
}
#lectures {
  margin: 0;
  font-size: 18px;
}

.lecture {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 0;
  border-bottom: 2px dotted #d5a17c;
  align-items: center;
}

#prednasky a {
  width: 700px;
  color: black;
  font-weight: bold;
}

#prednasky p {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
}

#vysledky table {
  margin-left: 80px;
}
p {
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  line-height: 1.5;
  color: #656565;
}

table {
  margin: 20px 0;
  width: 80%;
  border: 5px solid #000;
}

th {
  border: 3px dotted #b15e23;
}

td {
  border-bottom: 3px solid black;
}

th,
td {
  text-align: center;
}
thead th {
  background-color: #d5a17c;
  color: #000;
}

#cviceni {
  margin-top: 5px;
  background-color: #f1f1f1;
  padding-top: 35px;
  padding-right: 200px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.news {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 0;
  border-bottom: 2px dotted #d5a17c;
  align-items: center;
}
#cviceni p {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

#kontakt {
  background-color: #3c1f0a;
  color: white;
  padding-bottom: 30px;
  width: 94, 5%;
}
#us {
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
dl {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  font-size: 15px;
}

dt {
  float: left;
  width: 70px;
  font-size: 12px;
  clear: left; /*every dt starts with new line*/
  margin: 0;
  padding: 5px 0;
}

dd {
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 5px 0;
}

#subjects {
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

h2#subjects + ul {
  list-style: none;
  padding: 0;
}

h2#subjects + ul li::before {
  content: "\2713";
  color: #d5a17c;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: #d5a17c;
}

a:hover {
  color: white;
  text-decoration: underline;
}

#table {
  display: grid;
  place-items: center;
  grid-template-columns: 230px 1fr;
  grid-gap: 5px;
  padding-left: 200px;
  padding-right: 200px;
}
