html,
body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  background-color: #fff;
  color: #000;
}

#head {
  background-color: #3c1f0a;
  color: #fff;
}

#head h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.8rem;
}

#head h1 a {
  font-size: 4rem;
  text-decoration: none;
  color: white;
}

#subtitle {
  display: block;
  color: #b15e23;
  font-size: large;
  font-weight: 200;
}

#list1 {
  padding: 1%;
  background-color: #b15e23;
}

#list1 {
  display: flex;
  flex-wrap: wrap;
}

#list1 li {
  max-width: 100%;
}
#list1 a {
  display: inline-block;
  min-width: 100%;
}

#head ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  font-size: 12px;
  display: flex;
  gap: 15px;
}

#head ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 0;
  position: relative;
}

#head ul li a:hover {
  color: #d5a17c;
}

#list1 a:hover {
  background-color: #3c1f0a;
}

h2 {
  color: #b15e23;
  margin: 20px 0 10px 0;
  font-size: 15px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
}

#ITW {
  margin-top: 0;
}
#about {
  background-image: linear-gradient(white, #e5e5e5);
  padding-bottom: 1%;
  padding-top: 1%;
}

#about p,
#about h2 {
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto;
}

#list1,
#head h1 {
  margin: 0 auto;
  padding-left: 2%;
}

#about h2 {
  padding-bottom: 2%;
}

.new {
  display: flex;

  margin: 0 auto;
}

#allLectures {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2%;
  margin-right: 10px;
}
@media (max-width: 991px) {
  #allLectures {
    grid-template-columns: 1fr;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
  }
}

@media (max-width: 991px) {
  #cviceni {
    width: 41.6666%; /* 5 / 12 */
  }

  #prednasky {
    width: 58.3333%; /* 7 / 12 */
  }

  #cviceni,
  #allLectures {
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .new {
    flex-direction: column;
  }

  #cviceni,
  #prednasky,
  #allLectures {
    width: 100%;
  }
}

/*#prednasky {
  max-width: max-content;
}*/
#lectures {
  font-size: 18px;
}

#lectures {
  padding: 2%;
  margin: 0 auto;
  justify-content: center;
}

.lecture {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 0;
  border-bottom: 2px dotted #d5a17c;
  align-items: center;
}

#prednasky a {
  width: 700px;
  color: black;
  font-weight: bold;
}

#prednasky p {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
}

#vysledky table {
  margin-left: 2%;
}
p {
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  line-height: 1.5;
  color: #656565;
}

#vysledky h2 {
  padding-left: 2%;
}

table {
  margin: 20px 0;
  width: 95%;
}

th {
  border: 3px dotted #b15e23;
}

th,
td {
  text-align: center;
}
thead th {
  background-color: #d5a17c;
  color: #000;
}

#cviceni {
  background-image: linear-gradient(to right, rgb(213, 211, 211), white);
  /*max-width: max-content;*/
  padding-left: 2%;
  font-size: 15px;
  font-weight: bold;
  padding: 2%;
  margin: 0 auto;
  justify-content: center;
  padding-top: 35px;
}
.news {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 0;
  border-bottom: 2px dotted #d5a17c;
  margin-bottom: 5%;
  margin-top: 2%;
  align-items: center;
}
#cviceni p {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

#cviceni a {
  color: #3c1f0a;
}

#kontakt {
  background-color: #3c1f0a;
  color: white;
  padding-bottom: 30px;
  width: 94, 5%;
}
#us {
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
dl {
  min-width: 220px;
  margin: 10px 0;
  font-size: 15px;
}

dt {
  float: left;
  width: 70px;
  font-size: 12px;
  clear: left; /*every dt starts with new line*/
  margin: 0;
  padding: 5px 0;
}

dd {
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 5px 0;
}

#subjects {
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 9.2%;
}

h2#subjects + ul {
  list-style: none;
  padding: 0;
}

h2#subjects + ul li::before {
  content: "\2713";
  color: #d5a17c;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: #b15e23;
}

a:hover {
  color: white;
  text-decoration: underline;
}

#table {
  display: grid;
  align-items: start;
  justify-items: start;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding-left: 2%;
}

@media (max-width: 768px) {
  #table {
    grid-template-columns: 1fr;
  }
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
  margin-left: 0 auto;
}

#list1 {
  background-color: #b15e23;
  padding: 10px;
  display: flex;
}

#list1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

#list1 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

#list1 a:hover {
  background-color: #3c1f0a;
}

/*For screen <576px*/
@media (max-width: 576px) {
  #list1 ul li:first-child a span {
    display: inline-block !important;
  }
  #list1 {
    position: relative;
    display: flex !important;
    align-items: center;
    background-color: #b15e23;
    padding: 0;
  }

  #list1 ul {
    display: flex !important;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* hide all elems of the list */
  #list1 ul li {
    width: 100vw;
    display: none !important;
  }
  /* Always show the first element of the list */
  #list1 ul li:first-child {
    display: block !important;
  }

  #hamburger {
    display: block !important;
    margin-left: 0 auto;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  #list1.active ul {
    display: flex !important;
    flex-direction: column !important;
  }

  #list1.active ul li {
    display: block !important;
    width: 100%;
    padding: 0;
    text-align: left;
  }
  #list1.active ul li a span {
    display: inline-block !important;
  }

  #list1 ul li:first-child {
    display: flex !important;
    align-items: center;

    justify-content: space-between;
  }

  #list1 ul li:first-child a {
    display: inline-flex !important;
    align-items: center;
    min-width: 0 !important;
    flex: 1;
  }

  #list1 ul li:first-child a span {
    display: inline-block !important;
  }
}

/*Make list1 sticky*/
#list1 {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-top: 0;
  padding-top: 1;
  padding-bottom: 0;
}

@media (max-width: 991px) {
  #list1 ul {
    gap: 30px;
  }
  #list1 a span {
    display: none;
  }

  #list1 li:first-child a span {
    display: inline-block;
  }

  /*Add pseudo elements on hover*/
  #list1 li:nth-child(2) a:hover::after {
    visibility: visible;
    opacity: 1;
  }
  #list1 li:nth-child(2) a::after {
    content: "Přednášky";
    position: absolute;
    bottom: -40px;
    left: 50%;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  #list1 li:nth-child(3) a:hover::after {
    visibility: visible;
    opacity: 1;
  }
  #list1 li:nth-child(3) a::after {
    content: "Přehled výsledků";
    position: absolute;
    bottom: -40px;
    left: 50%;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }

  #list1 li:nth-child(4) a:hover::after {
    visibility: visible;
    opacity: 1;
  }
  #list1 li:nth-child(4) a::after {
    content: "Cvičení";
    position: absolute;
    bottom: -40px;
    left: 50%;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  #list1 li:nth-child(5) a:hover::after {
    visibility: visible;
    opacity: 1;
  }
  #list1 li:nth-child(5) a::after {
    content: "Kontaktujte nás";
    position: absolute;
    bottom: -40px;
    left: 50%;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  #list1 li:nth-child(6) a:hover::after {
    visibility: visible;
    opacity: 1;
  }
  #list1 li:nth-child(6) a::after {
    content: "Související předměty";
    position: absolute;
    bottom: -40px;
    left: 50%;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
}

@media (min-width: 992px) {
  #head ul li a:hover::after {
    content: "";
    position: absolute;
    left: 30%;
    bottom: -85%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #d5a17c;
  }
}
