/*
 * Login: xborozv00
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 *
 * Snazte se dodat aspon castecne reseni, i snaha se hodnoti.
 */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fffef0;
  font-family: Spectral;
}
header {
  width: 100%;
}
#header-title {
  background-position: center;
  width: 100%;
  position: relative;
  background: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 1) 60%
    ),
    url("../img/bg-header.png") no-repeat center / contain black;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-size: 2rem;
}

#header-title span:nth-child(1) {
  visibility: hidden;
}

#header-title span:nth-child(2) {
  position: absolute;
  top: 10px;
  left: 200px;
}

#header-title span:nth-child(3) {
  position: absolute;
  top: 10px;
  right: 200px;
}

#header-title span:nth-child(4) {
  position: absolute;
  bottom: 20px;
  right: 400px;
}

#header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  opacity: 50%;
  background-color: black;
  z-index: 999;
  margin-top: 15%;
}

#header-menu ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

#header-menu li {
  margin-bottom: 1rem;
}

#header-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

#header-menu a:hover {
  color: #ccc;
}

section#home {
  height: 100vh;
  margin: auto;
  width: 100%;
  background-color: #fffef0;
  padding: 30px;
  margin-top: 10rem;
  margin-bottom: 10rem;
  box-shadow: 0 0 20px black, inset 0px 0px 90px #a47c50;
}
.heading {
  text-align: center;
}
.heading h2 {
  color: #000280;
  margin-bottom: 0;
  font-family: IM Fell DW Pica;
  font-weight: normal;
  letter-spacing: 0.2rem;
}
.heading h2::after {
  content: "";
  display: block;
  width: 170px;
  height: 20px;
  background-image: url("../img/ornament.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.4));
  opacity: 0.7;
}

.heading span {
  font-size: 12px;
  display: block;
  color: #666;
  opacity: 0.6;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;
  line-height: 1.5;
}

.section-content p:nth-of-type(2) {
  order: 1;
}

.video-player {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
}

.video-content {
  position: relative;
  width: 100%;
  padding-top: 0;
}

.video-content video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.time {
  grid-column: 3 / span 1;
  color: #000280;
  font-size: 20px;
  text-shadow: 0px 0px 4px #ffffff;
  cursor: pointer;
}
