/*
 * Login: xborozv00
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 *
 * Snazte se dodat aspon castecne reseni, i snaha se hodnoti.
 */

html,
body {
  background-color: #fffef0;
  font-family: Spectral;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

/*************************************** Home, header, about styling ********************************************************/

#header-title {
  padding: 25px 0;
  background-position: center;
  width: 100vw;
  height: 95vh;
  position: relative;
  background: url("../img/bg-header.png") no-repeat center / 75vw 82vh;
  color: #fff;
  font-size: 2rem;
  box-shadow:/* left shadow */ inset 250px 0 50px -20px rgba(0, 0, 0, 1),
    /* right shadow */ inset -250px 0 50px -20px rgba(0, 0, 0, 1),
    inset 0 142px 50px -20px rgba(0, 0, 0, 1),
    /* top shadow */ inset 0 -142px 50px -20px rgba(0, 0, 0, 1); /* bottom shadow */
}

#header-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  pointer-events: none;
}

#header-title:hover::before {
  opacity: 0;
}

#header-title span:nth-child(1) {
  visibility: hidden;
}

#header-title span:nth-child(2) {
  position: absolute;
  top: 0%;
  left: 1%;
}

#header-title span:nth-child(3) {
  position: absolute;
  top: 0%;
  right: 1%;
}

#header-title span:nth-child(3)::before,
#header-title span:nth-child(4)::before {
  content: "...";
  color: white;
}

#header-title span:nth-child(4) {
  position: absolute;
  bottom: 5%;
  right: 15%;
}

#header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  opacity: 50%;
  background-color: black;
  z-index: 999;
  margin-top: 15%;
  transform: translateX(-70%);
  transition: transform 0.3s ease;
}
/*on hover styling for header menu*/
#header-menu:hover {
  transform: translateX(0);
}

#header-menu ul {
  list-style: none;
  margin: 0;
  padding: 18px;
  padding-bottom: 0;
}

#header-menu ul li a {
  font-size: 0;
  transition: font-size 0.3s ease;
}

#header-menu:hover ul li a {
  font-size: 15px;
}

#header-menu ul li:first-child a::before {
  content: "\f015";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  font-size: 15px;
  margin-left: 60px;
}

#header-menu ul li:nth-child(2) a::before {
  content: "\f518";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  font-size: 15px;
  margin-left: 60px;
}

#header-menu ul li:nth-child(3) a::before {
  content: "\f133";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  font-size: 15px;
  margin-left: 60px;
}

#header-menu ul li:nth-child(4) a::before {
  content: "\f508";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  font-size: 15px;
  margin-left: 60px;
}

#header-menu ul li:nth-child(5) a::before {
  content: "\f075";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  font-size: 15px;
  margin-left: 60px;
}

#header-menu ul li:nth-child(6) a::before {
  content: "\f0e0";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  font-size: 15px;
  margin-left: 60px;
}
#header-menu:hover ul li a::before {
  margin-left: 0;
  margin-right: 10px;
}

#header-menu li {
  margin-bottom: 18px;
}

#header-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

#header-menu a:hover {
  color: #000280;
}

section {
  height: 100%;
  margin: 0 auto;
  max-width: 1050px;
  background-color: #fffef0;
  margin-top: 10rem;
  margin-bottom: 10rem;
  box-shadow: 0 0 20px black, inset 0px 0px 90px #9a5d1c;
  position: relative;
}

#home::before,
#home::after {
  content: "";
  position: absolute;
  background: url("../img/wine.png") no-repeat center center;
  background-size: cover;
  width: 500px;
  height: 500px;
  opacity: 0.2;
}

#home::before {
  top: 120px;
  left: 20px;
  background-position: -500px -250px;
}

#home::after {
  bottom: 0px;
  right: -235px;
  background-position: -500px 300px;
}

#about::after {
  content: "";
  position: absolute;
  width: 166px;
  height: 300px;
  background-size: cover;
  transform: rotate(-45deg) scale(1.1);
  bottom: 50px;
  left: 100px;
  z-index: 1;
}

.heading {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

.heading h2 {
  margin-top: 50px;
  color: #000280;
  margin-bottom: 0;
  font-family: IM Fell DW Pica;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
.heading h2::after {
  content: "";
  display: block;
  width: 225px;
  height: 40px;
  background-image: url("../img/ornament.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.7));
  opacity: 0.7;
}

.heading span {
  font-size: 14px;
  display: block;
  color: #666;
  opacity: 0.6;
  margin: 0 auto;
  max-width: 90%;
  justify-content: center;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;
  line-height: 1.5;
}

.section-content p:nth-of-type(2) {
  order: 1;
}

/*************************************** Video player styling ********************************************************/

.video-player {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: 768px;
  max-height: 500px;
  margin: 0 auto;
  z-index: 2;
}

.video-content {
  position: relative;
  width: 100%;
  padding-top: 0;
}

.video-content video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: sepia(100%) saturate(70%) brightness(0.7) contrast(1.2) blur(1.2px);
  transition: filter 0.5s ease;
}

.video-player:hover .video-content video {
  filter: none;
}

.video-controls {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  padding-left: 5px;
  padding-right: 5px;
}

.video-player:hover .video-controls {
  opacity: 1;
  pointer-events: auto;
}

.time {
  grid-column: 3 / span 1;
  color: #060757cd;
  font-size: 20px;
  text-shadow: 0px 0px 8px #ffffff;
  cursor: pointer;
  padding-bottom: 10px;
}

.progress {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  opacity: 0.6;
  z-index: 1;
}

progress::-webkit-progress-value {
  background-color: #000280;
}

.playpause,
.mute,
.time {
  order: 1;
}

.fullscreen {
  order: 2;
}

.playpause,
.mute,
.fullscreen {
  border: none;
  background: none;
  font-size: 0;
  padding-bottom: 14px;
}

.video-player[data-state="paused"] .playpause::before {
  content: "\f04b";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 18.2px;
  text-shadow: 0px 0px 8px #ffffff;
}

.video-player[data-state="paused"]::before {
  content: "\f04b";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 55px;
  color: #000280;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  text-shadow: 0px 0px 10px #ffffff;
}

.video-player[data-state="played"] .playpause::before {
  content: "\f04c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 22px;
  text-shadow: 0px 0px 8px #ffffff;
}

.video-player[data-mute="muted"] .mute::before {
  content: "\f6a9";
  font-family: "Font Awesome 6 Free";
  color: rgb(105, 103, 103);
  font-weight: 900;
  font-size: 21.4px;
  text-shadow: 0px 0px 8px #ffffff;
}

.video-player[data-mute="unmuted"] .mute::before {
  content: "\f028";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 19.3px;
  text-shadow: 0px 0px 8px #ffffff;
}

button::before {
  font-size: 16px;
  color: #04053e;
}

.fullscreen {
  margin-left: auto;
}
.video-player .fullscreen::before {
  content: "\f065";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  width: 60px;
  height: 60px;
  text-shadow: 0px 0px 8px #ffffff;
}
/*full screen*/
.video-player.fullscreen {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  max-width: none;
  max-height: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px;
  z-index: 9999;
  background-color: #171717;
  cursor: auto;
}

.video-player.fullscreen .video-controls {
  bottom: 65px;
  max-width: 1200px;
  margin: 0 auto;
}

/*************************************** Products section styling ********************************************************/

#products {
  position: relative;
  overflow: hidden;
}

#products .section-content {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  width: 80%;
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
  #products .section-content {
    flex-wrap: wrap;
  }

  #products .section-item {
    flex: 1 1 calc(50% - 1rem);
    box-sizing: border-box;
  }
}

#products img {
  padding-top: 20px;
  display: block;
  width: 100%;
  height: 320px;
  filter: grayscale(100%) sepia(65%) brightness(120%) contrast(110%) blur(1.1px);
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
}

#products img:hover,
#events img:hover {
  opacity: 1;
  filter: none;
}

#products .section-item {
  flex: 1 1 calc(50% - 1rem);
  box-sizing: border-box;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column-reverse;
}

#products .section-item p {
  display: none;
}

#products .section-item h3 {
  min-height: 100px;
  width: 99%;
  background-color: #fffef0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: IM Fell DW Pica;
  font-weight: bold;
  opacity: 0.6;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(128, 128, 128, 0.2);
  border-top: none;
}

#products::before {
  content: "";
  position: absolute;
  background: url("../img/wine.png") no-repeat center center;
  background-size: cover;
  width: 260px;
  height: 500px;
  opacity: 0.2;
}
#products::before {
  top: -80px;
  left: -50px;
  background-position: -240px -250px;
}

#services .section-item img {
  grid-column: 1;
  grid-row: 1 / span 4;
  width: 100%;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

#services .section-content {
  position: relative;
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
}

#services .section-item:hover img {
  opacity: 1;
}

#services .section-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0rem;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 10px;
}
#services .section-item:nth-child(1),
#services .section-item:nth-child(2) {
  border-bottom: 1.5px dotted #9a5d1c;
}

#services .section-item:nth-child(1) img,
#services .section-item:nth-child(3) img {
  grid-column: 1;
}

#services .section-item:nth-child(1) p .references,
#services .section-item:nth-child(3) p .references {
  grid-column: 2;
}

#services .section-item:nth-child(1) p .service-props,
#services .section-item:nth-child(3) p .service-props {
  grid-column: 1;
}

#services .section-item:nth-child(2) {
  grid-template-columns: 2fr 1fr;
}

#services .section-item:nth-child(2) img {
  grid-column: 2;
}

#services .section-item:nth-child(2) h3,
#services .section-item:nth-child(2) .service-props,
#services .section-item:nth-child(2) p {
  grid-column: 1;
}

.price::before {
  font-family: "Font Awesome 5 Free";
  content: "\f154";
  font-weight: 900;
  margin-right: 0.3em;
}

#services .price,
h3 {
  font-family: IM Fell DW Pica;
}

#services p {
  font-size: 16px;
}

#services ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  gap: 7px;
  flex-direction: row;
  margin: 0;
}

/* Styles for links within reference list items */
#services li a {
  text-decoration: none;
  color: black;
  font-size: 0;
  display: inline-block;
}

/* Styles for stars using FontAwesome */
#services li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f02d";
  font-weight: 900;
  font-size: 20px;
  display: inline-block;
  transition: filter 0.3s;
  filter: none;
}
/*************************************** Events section styling ********************************************************/

#events {
  position: relative;
  overflow: hidden;
}
#events::after {
  content: "";
  position: absolute;
  background: url("../img/wine.png") no-repeat center center;
  background-size: cover;
  width: 650px;
  height: 650px;
  opacity: 0.2;

  top: -250px;
  right: -365px;
  background-position: -650px -150px;
}

#events img {
  max-width: 100%;
  filter: grayscale(100%) sepia(65%) brightness(120%) contrast(110%) blur(1.1px);
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}

#events .section-content > :nth-child(2n) {
  margin-top: 100px;
}

#events .section-content {
  position: relative;
  width: 80%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

#events .section-content::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #8a6f54;
  margin-bottom: 30px;
  margin-top: 10px;
}

#events .section-content .section-item {
  position: relative;
}
/*circle pseudo elements*/
#events .section-content .section-item::before {
  content: "";
  position: absolute;
  width: 5.5%;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  left: -11%;
  transform: translateX(-50%);
  z-index: 2;
  border: 3px solid #8a6f54;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

/*circle on hover styling*/
#events .section-content .section-item:has(img:hover)::before {
  border-color: #000280; /* синий цвет */
  background-color: #000280;
}

#events .section-content .section-item:nth-child(1)::before,
#events .section-content .section-item:nth-child(3)::before {
  left: 111.2%;
  top: 15%;
}

#events .section-content .section-item:nth-child(2)::before,
#events .section-content .section-item:nth-child(4)::before {
  top: 19%;
}

#events .section-item h3,
#events .section-item .desc {
  position: absolute;
  color: white;
  z-index: 2;
  text-align: left;
  transform: translateX(-50%) translateY(-149%);
}

/*position the h3 element(link) at events*/
#events .section-item:nth-child(1) h3 {
  left: 32%;
  top: 77%;
  transition: top 0.3s ease, padding-bottom 0.3s ease, transform 0.3s ease;
}
#events .section-item:nth-child(3) h3 {
  left: 26%;
  top: 68%;
  transition: top 0.3s ease, padding-bottom 0.3s ease, transform 0.3s ease;
}

#events .section-item:nth-child(2) h3,
#events .section-item:nth-child(4) h3 {
  right: -23%;
  top: 100%;
  transition: top 0.3s ease, padding-bottom 0.3s ease, transform 0.3s ease;
}
#events .section-item:nth-child(4) h3 {
  right: -28%;
}

/*dotted borders for h3 element at events*/
#events .section-item h3 {
  padding: 15px;
  padding-left: 32px;
  padding-right: 28px;
  color: #171717;
  border-right: 2px dotted rgba(188, 185, 185, 0.7);
  border-top: 2px dotted rgba(188, 185, 185, 0.7);
}

#events .section-item:nth-child(2) h3,
#events .section-item:nth-child(4) h3 {
  border-left: 2px dotted rgba(188, 185, 185, 0.7);
  border-right: none;
}

/*style link*/
#events .section-item h3 a {
  color: #171717;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease;
}

/*change color on hover*/
#events .section-item:has(img:hover) h3 a {
  color: #000280;
}

/*hover effect: h3 goes a little bit higher when on hover*/
#events .section-item:nth-child(1):has(img:hover) h3 {
  padding-bottom: 35px;
  top: 80%;
}

#events .section-item:nth-child(2):has(img:hover) h3,
#events .section-item:nth-child(4):has(img:hover) h3 {
  padding-bottom: 35px;
  top: 105%;
}

#events .section-item:nth-child(3):has(img:hover) h3 {
  padding-bottom: 35px;
  top: 72%;
}
/*date changes color on hover*/
#events .section-item:has(img:hover) .date {
  color: #000280;
}

#events .section-item .date {
  transition: color 0.3s ease;
}

/*position date */
#events .section-item:nth-child(2) .date,
#events .section-item:nth-child(4) .date {
  position: absolute;
  left: 10%;
  transform: translateX(-50%) translateY(70%);
  color: #171717;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  font-family: IM Fell DW Pica;
}

#events .section-item:nth-child(1) .date,
#events .section-item:nth-child(3) .date {
  position: absolute;
  right: 0%;
  transform: translateX(-50%) translateY(90%);
  color: #171717;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  font-family: IM Fell DW Pica;
}
/*adding dotted borders to date*/
#events .section-item .date::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -30%;
  width: 130%;
  height: calc(100% + 20px);
  border-top: 2px dotted rgba(188, 185, 185, 0.7);
  border-bottom: 2px dotted rgba(188, 185, 185, 0.7);
  z-index: 1;
  box-sizing: border-box;
}

#events .section-item:nth-child(1) .date::before,
#events .section-item:nth-child(3) .date::before {
  left: -0%;
  width: 150%;
}

/*add small brown line to circle pseudo element*/
#events .section-item .date::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 195%;
  width: 40%;
  height: calc(100% + 20px);
  border-bottom: 2px solid #8a6f54;
  z-index: 1;
  box-sizing: border-box;
}
/*on hover pseudo element is blue*/
#events .section-item:has(img:hover) .date::after {
  border-bottom-color: #000280;
}

#events .section-item:nth-child(2) .date::after,
#events .section-item:nth-child(4) .date::after {
  top: -10px;
  left: -97%;
  width: 30%;
}

#events .section-item:nth-child(2) .date::after {
  top: -10px;
  left: -100%;
  width: 30%;
}

/*style description; add on hover styles*/
#events .section-item .desc {
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 14px;
}

/*style description on hover*/
#events .section-item:has(img:hover) .desc {
  opacity: 1;
  color: #171717;
  background-color: rgba(255, 255, 255, 0.7);
}

#events .section-item:nth-child(1):has(img:hover) .desc {
  top: 71%;
  width: 40%;
  left: 29%;
}

#events .section-item:nth-child(2):has(img:hover) .desc {
  top: 92%;
  width: 36%;
  right: -10.1%;
}

#events .section-item:nth-child(3):has(img:hover) .desc {
  top: 63.4%;
  width: 40%;
  right: 31.1%;
}

#events .section-item:nth-child(4):has(img:hover) .desc {
  top: 92.9%;
  width: 20%;
  right: -2.2%;
}

/*************************************** Clients section styling ********************************************************/

#clients {
  height: min-content;
}

#clients .slider .section-item {
  position: relative;
}

#clients #section-content {
  height: 200px;
}
#clients .slider .section-item img {
  width: 200px;
  position: absolute;
  left: 0;
  top: -30%;
  margin-left: 20%;
  filter: sepia(100%) saturate(60%) brightness(0.98) contrast(1) blur(0.7px);
  transition: filter 0.9s ease;
}

/*on hover image styling*/
#clients .section-content.slider:hover .slider-item img {
  filter: sepia(0%) saturate(40%) brightness(110%) contrast(0.7) blur(0.5px);
}
#clients .slider .section-item:first-child img {
  width: 200px;
  left: 40%;
  top: 80%;
  margin-top: 1.5%;
}

/*adding circle pseudo element */
#clients .slider-item:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 1%;
  right: 45%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #8a6f54;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  margin-top: 13%;
  transition: background-color 0.3s ease;
}
#clients .slider-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 1%;
  right: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #8a6f54;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  margin-top: 13%;
  transition: background-color 0.3s ease;
}

/*on hover pseudo element circle styling*/
#clients .section-content.slider:hover .slider-item:nth-child(1)::after,
#clients .section-content.slider:hover .slider-item:nth-child(2)::after {
  background-color: #000;
}
/*positioning and styling*/
#clients .section-item:nth-child(2) blockquote {
  position: relative;
  color: white;
  background-color: #8a6f54;
  padding: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  width: 200px;
  position: absolute;
  left: 55%;
  bottom: 10;
  margin-top: 15%;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  text-align: center;
}

#clients .section-item:nth-child(1) blockquote {
  position: relative;
  color: white;
  background-color: #8a6f54;
  padding: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  width: 200px;
  position: absolute;
  right: 55%;
  bottom: 10;
  margin-top: 15%;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  text-align: center;
}

#clients .section-content.slider:hover .slider-item:nth-child(1) blockquote,
#clients .section-content.slider:hover .slider-item:nth-child(2) blockquote {
  background-color: #000;
}

/*background image*/
#clients {
  position: relative;
  overflow: hidden;
}

#clients::after {
  content: "";
  position: absolute;
  background: url("../img/wine.png") no-repeat center center;
  background-size: cover;
  width: 330px;
  height: 650px;
  opacity: 0.2;
  top: -390px;
  left: 70px;
  background-position: -310px 320px;
}

/*styling slider*/
#clients .slider {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: visible;
}

#clients .slider-item {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  animation: slide 10s infinite;
}

#clients .slider-item:nth-child(1) {
  animation-delay: 0s;
}

#clients .slider-item:nth-child(2) {
  animation-delay: 5s;
}

@keyframes slide {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  60% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*************************************** Contact section styling ********************************************************/
#contact .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 20px;
  row-gap: 5px;
  align-items: start;
  width: 100%;
  position: relative;
}

/*Powered by Mr. Benson first column */
#contact .section-content > span:nth-of-type(3) {
  grid-column: 2;
  grid-row: 2;
  font-style: italic;
  transform: translateX(-40%);
  font-size: 14px;
}

/* add image before span*/
#contact .section-content > span:nth-of-type(3)::before {
  content: "";
  display: block;
  background-image: url("../img/benson.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 60%;
  width: 96px;
  height: 90px;
  margin-left: 70px;
  margin-bottom: 10px;
  filter: sepia(100%) saturate(70%) brightness(0.7) contrast(1.2) blur(1.2px);
  transition: filter 0.5s ease;
}

/* two columns for contact form */
#contact .section-content .contact-form {
  grid-column: 3 / span 2; /*3nd and 4rd cols*/
  grid-row: 1 / span 3;
  width: 90%;
  margin: 0;
  transform: translateX(-10%);
}

/*two columns for video */
#contact .section-content .video-player {
  grid-column: 1 / span 3;
  grid-row: 3 / span 3;
  width: 70%;
  margin: 0;
  transform: translateX(12%);
  margin-top: 102px;
}

#contact .video-player.fullscreen {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  transform: none;
}

#contact .video-player.fullscreen .video-controls {
  max-width: 1128px;
}
#contact .video-popup {
  display: none;
}

/* Bernard Black right bottom */
#contact .section-content > span:nth-of-type(2) {
  grid-column: 4;
  grid-row: 4;
  font-style: italic;
  font-size: 14px;
  display: inline-block;
  transform: translateX(-40%);
}

/* add image before Bernard Black span*/
#contact .section-content > span:nth-of-type(2)::before {
  content: "";
  display: block;
  background-image: url("../img/bernard.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-left: 70px;
  margin-bottom: 10px;
  filter: sepia(100%) saturate(70%) brightness(0.7) contrast(0.8) blur(1.1px);
  transition: filter 0.5s ease;
}

/*no filter on hover for images*/
#contact .section-content > span:hover::before {
  filter: none;
}
#contact .section-content > span:hover a {
  color: #000280;
}

#contact .section-content > span:nth-of-type(1) {
  grid-column: 1;
  grid-row: 6;
  width: 180%;
  margin-left: 65px;
  font-style: italic;
  padding-bottom: 20px;
  font-size: 15px;
  opacity: 0.65;
}

#contact .section-content a {
  text-decoration: none;
  color: #8a6f54;
  font-style: italic;
}

#contact .contact-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin-left: 40px;
}

/* basic styles for inputs*/
#contact .contact-form input,
#contact .contact-form select,
#contact .contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 2px;
  border: 5px solid #8a6f54;
  opacity: 0.8;
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

/* background colors */
#contact .contact-form input[type="text"],
#contact .contact-form input[type="email"],
#contact .contact-form input[type="date"],
#contact .contact-form input[type="number"],
#contact .contact-form input[type="submit"] {
  background-color: rgba(255, 182, 193, 0.491);
}

#contact .contact-form select,
#contact .contact-form textarea {
  background-color: #9e6d3c4f;
}

/* colors for submit form*/
#contact .contact-form input[type="submit"] {
  width: 30%;
  margin: 0 auto;
  display: block;
  border-color: #8a6f54;
  background-color: #f7ced3;
}

/* focus styling */
#contact .contact-form input:focus,
#contact .contact-form select:focus,
#contact .contact-form textarea:focus {
  box-shadow: 0 0 0 1px rgb(116, 82, 171), 0 0 0 2.5px rgba(154, 126, 199, 0.75),
    0 0 0 2.6px rgba(154, 126, 199, 0.5), 0 0 0 3.3px rgba(255, 255, 255, 0.3);
  border: 5px solid #8a6f54;
  border-radius: 2px;
  outline: none;
  opacity: 1;
}

/* opacity on hover is higher */
#contact .contact-form input:hover,
#contact .contact-form select:hover,
#contact .contact-form textarea:hover,
#contact .contact-form input:focus,
#contact .contact-form select:focus,
#contact .contact-form textarea:focus {
  opacity: 1;
}

#contact .contact-form input:nth-of-type(1):valid,
#contact .contact-form input:nth-of-type(2):valid,
#contact .contact-form input:nth-of-type(3):valid {
  background-color: #9e6d3c4f;
}

/*manny*/
#manny {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 80px;
  width: 400px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
#manny.open {
  position: fixed;
  display: flex;
  position: fixed;
  top: 0;
  left: 35%;
  width: 400px;
  height: 11vh;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  background-color: #000;
  box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 3);
  color: white;
}
#manny.open img {
  width: 80%;
  height: 20vh;
  object-fit: contain;
  filter: opacity(70%);
}
#manny.open span {
  display: inline-block;
}

#manny.open > div span:first-of-type {
  font-size: 1.5rem;
}

#manny.open > div span:last-of-type a {
  text-decoration: none;
  color: #000280;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
    0px 0px 10px rgba(255, 255, 255, 0.5);
}

#manny.open > div span:last-of-type {
  font-size: 14px;
  font-weight: normal;
}

footer {
  color: #fff;
  background-color: #000;

  /* Пояснение параметров:
  x-offset = 0,
  y-offset = -20px (тень уходит вверх),
  blur-radius = 20px,
  spread-radius = -10px (сужает тень),
  цвет = rgba(0, 0, 0, 0.8) */
  box-shadow: 0 -20px 20px 10px rgba(0, 0, 0, 1);
}
footer .section-content {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: auto auto auto;
  width: 100%;
  font-family: IM Fell DW Pica;
  opacity: 0.8;
}
footer div span:nth-child(1) {
  grid-column: 1;
  grid-row: 3;
  padding-bottom: 40px;
  font-size: 1.5rem;
  justify-self: end;
}

footer a {
  text-decoration: none;
  color: white;
}

footer div span:nth-child(2) {
  grid-column: 3;
  grid-row: 3;
  padding-bottom: 40px;
  font-size: 1.5rem;
  justify-self: end;
}
footer div span:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  font-size: 2rem;
  justify-self: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
footer img {
  width: 8%;
}
